In [2]:
from cProfile import label
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import graphviz

from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.tree import plot_tree

In [4]:
#Importing data frame
df = pd.read_csv('connect-4.data', header=None)
df.columns = ['a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'g1', 'g2', 'g3', 'g4', 'g5', 'g6', 'result']
df.to_csv('connect-4.csv', index=False)

- Import data and add column header to dataframe

In [6]:
#Converting data frame into categorical
labelencoder = LabelEncoder()
for column in df.columns:
    df[column] = labelencoder.fit_transform(df[column])
df.describe()

,a1,a2,a3,a4,a5,a6,b1,b2,b3,b4,...,f4,f5,f6,g1,g2,g3,g4,g5,g6,result
count,67557.000000,67557.000000,67557.000000,67557.000000,67557.000000,67557.000000,67557.000000,67557.000000,67557.000000,67557.000000,...,67557.000000,67557.000000,67557.000000,67557.000000,67557.000000,67557.000000,67557.000000,67557.000000,67557.000000,67557.000000
mean,0.959575,0.537620,0.269002,0.130142,0.050757,0.009918,1.060941,0.584543,0.289578,0.139038,...,0.058410,0.015232,0.001569,0.839454,0.429415,0.191394,0.069971,0.017185,0.001628,1.562843
std,0.835185,0.779892,0.610544,0.444534,0.286081,0.119787,0.837729,0.794397,0.627658,0.458003,...,0.302248,0.153671,0.045820,0.832950,0.726607,0.529480,0.329583,0.161822,0.046460,0.661043
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000
max,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

- Encode labels values 0 -> n-1 labels

In [10]:
x = df.values[:,0:42]
y = df.values[:,42]
x,y

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [2, 2, 0, ..., 1, 0, 0],
        [2, 1, 0, ..., 2, 2, 0],
        [2, 1, 1, ..., 0, 0, 0]], dtype=int64),
 array([2, 2, 2, ..., 1, 0, 0], dtype=int64))